<template>
  <div>
    <div class="container">
      <b-form>
        <h1>Login</h1>
        <b-form-group label="Username">
          <b-form-input></b-form-input>
        </b-form-group>
        <b-form-group label="password">
          <b-form-input type="password"></b-form-input>
        </b-form-group>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {};
</script>